.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto auto;
  grid-template-areas:
    "header"
    "nav"
    "content";
}

@media only screen and (min-width: 600px) {
  .App {
    grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "header header"
      "nav content";
  }
}

* {
  font-family: monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: monospace;
  color: white;
  font-weight: 300;
  background: #50a3a2;
  width: 100%;
  height: 100%;
  font-size: 150%;
}

.container {
  background-color: rgb(9, 105, 73);
  padding-top: 10%;
  text-align: center;
}

.header {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}

.nav {
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 30px;
}

.nav-link {
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  color: rgb(8, 68, 94);
}

.article {
  border: solid 5px black;
  margin: 5%;
  padding: 1%;
  background-color: #bedcdb;
  opacity: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-img {
  height: 40%;
  width: 40%;
  padding-top: 1%;
  padding: 2%;
}

.article-title {
  padding: 2%;
  font-size: 20px;
  color: black;
  font-weight: 100;
}

.article-button {
  padding: 1%;
  margin: 1%;
  font-size: 60%;
}

.article-button:hover {
  border: solid black 2px;
  box-shadow: -5px 5px 5px rgb(18, 141, 22);
}

.article-information {
  background-color: #054d4c;
  border: solid black 5%;
  padding: 1%;
  width: 100%;
  height: 10%;
}

.article-body {
  color: black;
  padding: 15px;
  font-size: 18px;
}

.article-author {
  font-size: 50%;
  margin-bottom: 2%;
  font-size: 18px;
}

.article-date {
  font-size: 50%;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 18px;
}

.article-votes {
  font-size: 50%;
  font-size: 18px;
  margin-bottom: 1%;
  margin-top: 1%;
  color: black;
}

.comment {
  border: 3px solid black;
  padding: 1%;
  margin-top: 1%;
  background-color: white;
  color: black;
  font-size: 18px;}

.comment-info {
  padding: 2%;
  color:rgb(8, 68, 94);
  font-size: 15px;
}

.comment-button{
  padding: 1%;
  margin-top: 3%;
  font-size: 60%;
}

.comment-button:hover {
  border: solid black 2px;
  box-shadow: -5px 5px 5px rgb(18, 141, 22);
}

.comments-header {
  margin: 5%;
  color: black;
}

.vote-button {
  width: 50px;

}

.vote-button:hover {
  border: dashed rgb(219, 133, 133) 2px;
  box-shadow: -5px 5px 5px rgb(141, 27, 17);
}

.comment-form {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}